.text-bar {
  width:350px;
  margin-top: 10px;
}

.text-bar input {
  font-family: Comic Sans MS;
}

.study-sets {
  margin-top: 10px;
  margin-bottom:10px;
}

.set-list{
  height: 120px;
  overflow: auto;
}

.center-block {
    float: none !important
}

.study-set-item {
  font-family: Comic Sans MS;
}

.select-set {
  font-family: Comic Sans MS;
}

.thumbnail {
  margin-top: 10px;
  width: 250px;
  height: 250px;
}
.card-description {
  font-family: Comic Sans MS;
}

.input {
   box-sizing: border-box;
}

.shuffle-icon {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.rewind-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.skip-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.play-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.response-bar {
  width = 80%;
  height = 80%;
}

.response-img {
  width: 20px;
  height: 20px;
}
